.skills {
    margin-top: 50px;
}

.skills_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
}

.skills_icons img {
    height: 40px;
    display: inline-block;
}

.second-row {
    width: 35%;
    margin: auto;
    margin-top: 1.75em;
}