@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --primary-font: 'Merriweather', serif;
    --accent-font: 'Signika Negative', sans-serif;
    --primary-color: rgb(43, 43, 43);
    --accent-color: rgb(0, 124, 207);
    --secondary-color: rgb(95, 105, 167);
}

body {
    /* background:
        linear-gradient(to top, rgb(247, 247, 247) 60%, rgb(196, 239, 248) 100%)
        no-repeat
        center
        center
        fixed; */
    background: rgb(247, 247, 247);
    font-family: var(--primary-font);
    font-weight: regular;
    color: var(--primary-color);
}

h3 {
    font-family: var(--accent-font);
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2em;
}