#projects {
    width: 100%;
}

.project {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-items: flex-start; 
    align-items: stretch;
    margin: 1em 0 1em 0;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.thumbnail {
    flex: 0 0 30%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: ease-out 0.25s opacity;
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail:focus {
    opacity: 0.5;
}

.details {
    margin-left: 1em;
    padding: 0.5em;
    flex: 0 1 auto;
}

h4 {
    margin: 0;
}

.name {
    color: var(--secondary-color);
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.25em;
}

.github {
    margin-top: 0.5em;
    color: var(--secondary-color);
    font-family: var(--accent-font);
}